const webpack = require('webpack');

module.exports = {
	entry: __dirname + '/index.js',
	context: __dirname,
	output: {
		filename: 'kalm.js',
		path: __dirname + '/bin',
		library: 'kalm',
		libraryTarget: 'amd'
	},
	modules: {
		loaders: [
			{ test: /\.js$/, loader: 'val'}
		]
	},
	plugins: {
		new webpack.DefinePlugin({
			'process.env': {
				NODE_ENV: 'browser'
			}
		})
	}
};
