const webpack = require('webpack');

module.exports = {
	entry: __dirname + '/index.js',
	output: {
		filename: 'kalm.js',
		path: __dirname + '/bin',
		library: 'kalm',
		libraryTarget: 'amd'
	},
	modules: {
		loaders: [
			{
				test: /\.js$/, 
				loader: 'babel-loader',
				query: {
					presets: ['es2015']
				}
			}
		]
	},
	plugins: [
		new webpack.IgnorePlugin(/ipc|tcp|udp|Server|bluebird/)
	]
};
